<html>
Hi {{ name }},<br>
<br>
Your friend {{ sender_name }} has sent you a file using SendFileEasy.com.<br>
<br>
Click here to get your file: <a href='{{ file_url }}'>({{ file_name }})</a><br>
<br>
This download link will expire in {{ file_expiration }}.<br>
<br>
Only download this file if you know {{ sender_name }}. If you received this message in error, please DO NOT download the file, and delete this email immediately.<br>
<br>
Thanks from sendfileeasy.com - the easiest way to send stuff to your friends.<br>
<br>
To unsubscribe from all emails from SendFileEasy.com <a href='%unsubscribe_url%'>click here</a>.
</html>